<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/phim-moi" routerLinkActive="active">Phim Mới</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/phim-bo" routerLinkActive="active">Phim Bộ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/phim-le" routerLinkActive="active">Phim Lẻ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/xem-sau" routerLinkActive="active">Danh sách của tôi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/lien-he" routerLinkActive="active">Liên Hệ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gioi-thieu" routerLinkActive="active">Giới Thiệu</a>
  </li>
</ul>
