<p>lien-he works!</p>
<div id="container">
  <div id="main_container">
      <div class="box_1 box">
        <h4 id="h4_title_lh">Liên Hệ & Góp Ý</h4>
      </div>
      <div class="box_2 box" >
      <div id="div_input_mail">
        <h5 id="h5_mail">Email:</h5><input type="email" id="input_mail" placeholder="Nhập email của bạn...">
      </div>
      <div id="div_input_title">
        <h5 id="h5_title">Tiêu đề:</h5><input type="text" id="input_title" placeholder="Nhập tiêu đề...">
      </div>
      <div id="div_input_info">
        <h5 id="h5_info">Nội dung:</h5> <textarea name="info" id="info_contact" cols="30" rows="10" placeholder="Nhập nội dung..."></textarea>
      </div>
      <button id="btn_send_contact">Gửi</button>
      </div>
  </div>
 </div>
